<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ha-jdbc">
	<test name="all">
		<packages>
			<package name="net.sf.hajdbc.balancer"></package>
			<package name="net.sf.hajdbc.dialect"></package>
			<package name="net.sf.hajdbc.sql"></package>
			<package name="net.sf.hajdbc.sync"></package>
		</packages>
	</test>
</suite>