# HA-JDBC Schema Definitions

<table>
	<tr>
		<th>Version</th>
		<th>Namespace</th>
		<th>Location</th>
	</tr>
	<tr>
		<td>${project.version}</td>
		<td>urn:ha-jdbc:cluster:2.1</td>
		<td><a href="xsd/ha-jdbc-${project.version}.xsd">http://ha-jdbc.github.com/xsd/ha-jdbc-${project.version}.xsd</a></td>
	</tr>
	<tr>
		<td>2.0.x</td>
		<td>http://ha-jdbc.sourceforge.net</td>
		<td><a href="xsd/ha-jdbc-2.0.xsd">http://ha-jdbc.github.com/xsd/ha-jdbc-2.0.xsd</a></td>
	</tr>
</table>

Older releases of HA-JDBC used DTDs:

<table>
	<tr>
		<th>Version</th>
		<th>Public ID</th>
		<th>System ID</th>
	</tr>
	<tr>
		<td>2.0.x</td>
		<td>-//HA-JDBC//DTD HA-JDBC 2.0//EN</td>
		<td><a href="dtd/ha-jdbc-2.0.dtd">http://ha-jdbc.github.com/dtd/ha-jdbc-2.0.dtd</a></td>
	</tr>
	<tr>
		<td>1.1.x</td>
		<td>-//HA-JDBC//DTD HA-JDBC 1.1//EN</td>
		<td><a href="dtd/ha-jdbc-1.1.dtd">http://ha-jdbc.github.com/dtd/ha-jdbc-1.1.dtd</a></td>
	</tr>
	<tr>
		<td>1.0.x</td>
		<td>-//HA-JDBC//DTD HA-JDBC 1.0//EN</td>
		<td><a href="dtd/ha-jdbc-2.0.dtd">http://ha-jdbc.github.com/dtd/ha-jdbc-1.0.dtd</a></td>
	</tr>
</table>
